<div class="row">
  <br/>              
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Influencers
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Insta UN</th>
                              <th>Email</th>
                              <th>Followers</th>
                              <th>Following</th>
                              <th>Get Full Contact</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% @influencers.each do |influencer| %>
                            <tr>
                            <td><%= link_to influencer.instagram_un, request_influencer_path(influencer.request_id, influencer) %></td>
                            <td><%= influencer.email %></td>
                            <td><%= influencer.followers %></td>
                            <td><%= influencer.following %></td>
                            <% if influencer.email != nil %>
                              <td><%= button_to 'Get Full Contact', {action: 'fullcontact', id: influencer.id }, class: "btn btn-default" %></td>
                            <% else %>
                              <td>NA</td>
                            <% end %>
                            </tr>


                          <% end %>
                      </tbody>
                  </table>
                  <%= paginate @influencers %>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
